/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

main {
  margin-top: 20px; /* Ajoute une marge supérieure de 20px */
  padding: 20px;
}

.content {
  margin-top: 20px; /* Ajoute une marge supérieure de 20px */
}
