/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #6F4E37;
  color: white;
  padding: 10px 0;
  text-align: center;
}

main {
  margin-top: 20px; /* Ajoute une marge supérieure de 20px */
  padding: 20px;
  background-color: #F5F5F5;
}

body {
  background-color: #ffffff;
}
  
.content {
  margin-top: 20px; /* Ajoute une marge supérieure de 20px */
  flex: 1;
  padding: 20px;
  margin: 150px!important;
}
