.admin {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #6F4E37;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  footer {
    background-color: #6F4E37;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  