.ateliers .content {
    padding: 20px;
  }
  
  .workshops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


  }
  
  .workshop {
    background-color: #6F4E37;
  }
  
  .workshop1 {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('algorithmes.webp');
    background-size: cover;
    color: white;
    text-align: center;
    
  }
  
  .workshop2 {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('gaming.webp');
    background-size: cover;
    color: white;
    text-align: center;
    
  }

  .workshop3 {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url('seniors-using-tech.webp');
    background-size: cover;
    color: white;
    text-align: center;
    
  }