.ateliers .content {
    padding: 20px;
  }
  
  .workshops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .workshop {
    background-color: #6F4E37;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  