.login .content {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .login h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
  }
  
  .login label {
    margin-bottom: 5px;
  }
  
  .login input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d18c3c;
    color: white;
    cursor: pointer;
  }
  
  .login button:hover {
    background-color: #0056b3;
  }
  